body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    background: linear-gradient(to right, blue, green, yellow 50%, orange);
   
  }
  
  .birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: cell;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 3s;
  }
  
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(360deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      0 10px 100px rgba(0, 0, 0, 0.5);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy{
    visibility: hidden;
  }


  .birthdayCard:hover .ant{
    visibility: hidden;
  }
  .cardFront {
    position: relative;
    background-color: #ff457d;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #504e4e;
  }
  
  .happy {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 50px;
    outline-style: solid;
    outline-color:rgb(255, 121, 210);
    outline-width: 8px;

    background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
    transition: 0.1s;
  }
  

  .cardInside {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  }
  .p1{
    font-family: bradley hand,cursive;
    margin: 40px;
    color: #201f1f;
  }
  
  .p2{
    font-family:luminari,fantasy;
    margin: 40px;
    color: #070707;
    letter-spacing: 1.5px;
  }
  
  .name {
    position: absolute;
    left: 150px;
    top: 200px;
    color: #333;
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style:double;
  }